{{!< default}}
{{#if tag.image}}
<div class="tag-cover" style="background-image: url({{tag.image}})">
			<div class="tagdescr withimg">
				<div class="row">
					<div class="col-sm-12">
	  <h1>{{tag.name}}</h1>
		{{#if tag.description}}
		<hr/>
		<p>{{tag.description}}</p>
		{{/if}}
		</div>
		</div>
	</div>
	</div>
{{else}}
<div class="tag-header">
<div class="row">
	<div class="col-sm-12">
	<div class="tag-frame">

	<div class="row no-gutter">
	<div class="col-xs-1">
<div class="frame"><i class="fa fa-tag"></i></div>
	</div>
	<div class="col-xs-11">
		<div class="tagdescr">
  <h1>{{tag.name}}</h1>
	{{#if tag.description}}
	<hr/>
	<p>{{tag.description}}</p>
	{{/if}}
	</div>
	</div>
</div>

</div>
</div>
</div>
</div>
{{/if}}

<div class="articles-container">
	<div class="row">
		<div class="col-sm-12">
			{{> "loop"}}
			<div class="clearance"></div>
			{{! Previous/next page links - displayed on every page }}
			{{pagination}}
		</div>

	</div>
</div>
